@model IEnumerable<UserViewModel>
@{
    ViewData["Title"] = "Users";
    ViewData["Page"] = Pages.Users;
}
<h2>All Users</h2>
<br />
<hr />
<a asp-action="Create" asp-controller="Account" class="btn btn-primary fz-1-3rem mb-3">Create</a>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover" id="usersTable">
        <thead>
            <tr>
                <td>Display Name</td>
                <td>Email</td>
                <td>Role</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.DisplayName</td>
                    <td>@user.Email</td>
                    <td>@user.Role</td>
                    @if (user.IsBlocked)
                    {
                        <td><span class="badge badge-danger">Blocked</span></td>
                    }
                    else
                    {
                        <td><span class="badge badge-success">Not Blocked</span></td>
                    }
                <td>
                    @if (user.Role.Equals("Regular User"))
                    {
                        <a asp-action="CreateCompany" asp-controller="Jobs" asp-route-userId="@user.Id" title="Add company ownership"><i class="fa fa-user-secret fa-2x"></i></a><text>&nbsp;</text>
                    }
                    @if (!user.Role.Equals(Roles.Admin))
                    {
                        if (user.IsBlocked)
                        {
                            <a asp-action="UnBlock" asp-controller="Account" asp-route-userId="@user.Id" title="Unblock user"><i class="fa fa-check fa-2x"></i></a>
                        }
                        else
                        {
                            <a asp-action="Block" asp-controller="Account" asp-route-userId="@user.Id" title="block user"><i class="fa fa-ban fa-2x"></i></a>
                        }
                    }
                </td>
                </tr>
            }
        </tbody>
    </table>
</div>